body {
    background-color: #5E7A97;
    color: white;
    font-family: 'Yuji Hentaigana Akebono', cursive;
}


h1 {
    color: #FCD3DE;
    margin-left: 5px;
}

.header {
 display:flex;
 background-color: rgb(16, 173, 194);
 justify-content:space-between ;
 border-radius: 20px;
}

a {
    color:#FCD3DE;
    margin-left: 5px;
    margin-right: 10px;
}

.menu {
    margin-top: 20px; 
}

.description {
    text-align:center;
}

.grid {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.grid p {
    text-align:center;
}

.footer {
    display:flex;
    justify-content:flex-end;
}

.item {
    margin-right: 20px;
}

.item:hover img {
border-radius: 75px;
border: 10px solid #fca311;
}